<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link href="{% static 'css/5.0/bootstrap.min.css' %}" rel="stylesheet" >
    <link href="{% static 'css/style.css' %}" rel="stylesheet" >
    <script src="{% static 'js/5.0/popper.min.js' %}" ></script>
    <script src="{% static 'js/5.0/bootstrap.min.js' %}" ></script>
    <title>This is a title</title>
</head>